<!--affichage des données faire un ngfor faire delete et update -->

  <h2>Job Details</h2>

  <ul class="pt-5" *ngFor="let job of jobs; let i = index" (click)="onViewJob(i)">

    <li class="hidden">Id : {{ job.id }}</li>
    <li>Title : {{ job.title }}</li>
    <li>Company : {{ job.company }}</li>
    <li>City : {{ job.city }}</li>
    <li>ZipCode : {{ job.zipcode }}</li>
    <li>Description : {{ job.description }}</li>
    <li>Contract type : {{ job.contractType }}</li>
    <li>Start date : {{ job.startDate | date:'dd/MM/y H:m:s'  }}</li>
    <li>
      <button mat-button routerLink="/jobs/{{ job.id }}">Détails</button>
    </li>

    <hr>
  </ul>

  <!--
  <div *ngFor="let job of jobs">
      <mat-card class="listeCard">
        <mat-card-title><a mat-list-item href="#" routerLink="jobs/add/job.id"></a></mat-card-title>
        <mat-label>Entreprise</mat-label>
        <mat-label></mat-label>
        <div class="buttonContainer">
          <button class="btn btn-success bouton1" color="primary" ><a mat-list-item href="#" routerLink="/jobs/add/{{job.id}}">Editer</a></button>
          <button class="btn btn-success bouton1" color="primary" (click)="supprJob(job.id)">Supprimer</button>
          <a [routerLink]='[job.id]'>Détail</a>
          <button class="btn btn-danger" (click)="deleteJob(job)">
              Delete Job</button>
        </div>
      </mat-card>
    </div>
-->
