extends layout

block content
    h1=title
    // commentaire pug
    .container 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quidem officiis neque, rem recusandae voluptate delectus. Eum suscipit quod tempore enim voluptates cupiditate, iusto rerum magni ut nihil at praesentium!
