extends layout

block content
  form(method='POST' action='')
    .form-group
      label(for='exampleInputEmail1') Email address
      input.form-control#email(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group
      label(for='exampleInputPassword1') Password
      input.form-control#password(type='password', placeholder='Password')
    .form-group.form-check
      input.form-check-input#exampleCheck1(type='checkbox')
      label.form-check-label(for='exampleCheck1') Check me out
    button.btn.btn-primary(type='submit') Submit