.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-content {
  margin: 16px;
}

.toto {
  background-color: green;
}

.tata {
  background-color: green;
}

.titi {
  background-color: purple;

}